name: maven build

on: [ workflow_dispatch ]

jobs:
  build:
    name: Maven ${{ matrix.operating-system }}
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-18.04, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@main
      with:
        distribution: adopt
        java-version: 8
    - name: mvn install
      run: mvn install
